<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register – NamasteFit</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/nav') %>

    <main class="register-section">
      <h1>Update Program</h1>
      <form
        class="register-form"
        action="/edit/<%= programs.id %>"
        method="POST"
      >
        <div class="form-group">
          <label for="title">Program Title</label>
          <input
            type="text"
            value="<%= programs.title %>"
            name="title"
            id="title"
            required
          />
        </div>

        <div class="form-group">
          <label for="slogan">Description</label>
          <textarea name="slogan" id="slogan" rows="2" required>
<%= programs.slogan %></textarea
          >
        </div>

        <div class="form-group">
          <label for="duration">Duration (in minutes)</label>
          <input
            type="number"
            value="<%= programs.duration %>"
            name="duration"
            id="duration"
            required
          />
        </div>

        <div class="form-group">
          <label for="plan">Plan</label>
          <select name="plan" id="plan">
            <option value="<%= programs.plan %>"><%= programs.plan %></option>
            <option value="Free">Free Plan</option>
            <option value="Basic">Basic Plan</option>
            <option value="Standard">Standard Plan</option>
            <option value="Premium">Premium Plan</option>
          </select>
        </div>

        <div class="form-group">
          <label for="link">Video URL (YouTube/Vimeo)</label>
          <input
            type="url"
            value="<%= programs.link %>"
            name="link"
            id="link"
            required
          />
        </div>

        <button type="submit" class="btn">Update</button>
      </form>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
