<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plans – NamasteFit</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/nav') %>

    <main class="plans-section">
      <h1>Choose Your Plan</h1>
      <div class="plan-container">
        <% plan.forEach((value) => { %>
        <div class="plan-card">
          <h2><%= value.title %></h2>
          <h2><%= value.plan %> Plan</h2>
          <p><%= value.slogan %></p>

          <% value.features.forEach((key) => { %>
          <p><%= key %></p>
          <% }) %>

          <h3>NPR. <%= value.price %>/month</h3>
          <a href="/subscription/<%= value.plan %> - NPR. <%= value.price %>"
            ><button class="btn">Subscribe</button></a
          >
        </div>
        <% }) %>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
