<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NamasteFit - User Profile</title>
    <link rel="stylesheet" href="/profile.css" />
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container">
      <!-- Profile Header -->
      <div class="profile-header">
        <% if(user.avatarUrl){ %>
            <img src="/uploads/<%= user.avatarUrl %>" alt="profile" class="profile-img" id="image-preview">
            <% }else{ %>
              <img src="/uploads/default.png" alt="profile">
           <% } %>
        <div class="profile-info">
          <h1><%= user.name %></h1>
          <p>Email: <%= user.email %></p>
          <p class="active-subscription">
            Date of Joining: <%= user.createdAt.toISOString().split('T')[0] %>
          </p>
          <p class="active-subscription">
            Role: <%= user.role %>
          </p>
        </div>
      </div>
      <!-- Verify Email -->
      <div class="verify-email">
        <% if (user.isEmailValid) { %>
          <div>
          <span class="good">✅ Your email has been successfully Verified!</span>
        </div>
        <% } else { %>
          <div>
          <span class="good bad">⚠️ Your email is not Verified.<a href="/verify-email">Click here</a></span>
        </div>
        <% } %>
      <!-- Action Details -->
      <div class="card">
        <div class="edit-btn" title="Edit Profile">
          <a href="/edit-profile"><button class="btn"><i class="fa-solid fa-pen-to-square"></i></button></a>
        </div>
        <% if(user.hasPassword){ %>
          <div class="edit-btn" title="Change Password">
          <a href="/change-password"
            ><button class="btn"><i class="fa-solid fa-key"></i></button></a
          >
        </div>
       <% }else{ %>
          <div class="edit-btn" title="Set Password">
          <a href="/set-password"
            ><button class="btn"><i class="fa-solid fa-wrench"></i></button></a
          >
        </div>
       <% } %>
        <div class="edit-btn" title="Logout">
          <a href="/logout"><button class="btn"><i class="fa-solid fa-right-from-bracket"></i></button></a>
        </div>
      </div>
    </div>
     <%- include('partials/footer') %>
  </body>
</html>
